$navbar-region-font-size: $font-size-base !default;
$navbar-collapse-max-width: 1100px;
$navbar-right-padding: 11px;
$navbar-hr-color: #34495c;

$navbar-collapse-mobile-width: 300px;
$navbar-collapse-full-width: 100%;

$navbar-dropdown-txt-color: rgba(30, 150, 255, 0.7);



.navbar {
  //height: $navbar-height;
  margin-bottom: 0;
  &-nav {
    &.navbar-right {
      @media (max-width: $grid-float-breakpoint-max) {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .nav {
    &.navbar-right > li > a {
      @media (min-width: $grid-float-breakpoint) {
        padding: 11px 15px;
        > .icon {
          line-height: $line-height-base;
        }
      }
    }
  }
  &-hr{
    margin: ($navbar-padding-horizontal / 2) (-$navbar-padding-horizontal);
    border-top-color: $navbar-hr-color;
    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}


.nav-partition, .navbar-settings{
  @media (max-width: $grid-float-breakpoint-max) {
    margin: 0;
  }
}
.nav-partition{
  > li {
    margin-left: ($navbar-padding-horizontal * 2) - 5;
  }
}

.navbar-settings{
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
  .dropdown-toggle{
    padding-left: 0;
    padding-right: 0;
  }
  .dropdown-header{
    color: $navbar-default-link-color;
    font-size: $font-size-base;
  }
}

//navbar settings lang custom
.lang{
  &-abbr{
    padding-right: $navbar-padding-horizontal;
  }
}

//custom lang txt color
.dropdown-txt-color{
  color: $navbar-dropdown-txt-color;
}

.nav-registration{
  @media (min-width: $grid-float-breakpoint) {
    //margin-right: -$navbar-padding-horizontal;
    float: right;
  }
  .navbar-btn{
    @media (max-width: $grid-float-breakpoint-max) {
      margin-left: ($navbar-padding-horizontal * 4) - 5;
    }
  }
  .navbar-user-icon{
    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}

.navbar-header {
  float: left;
}

.navbar-basket {
  float: right;
}

.navbar-btn{
  padding-right: $padding-base-horizontal * 2;
  padding-left: $padding-base-horizontal * 2;
}
.navbar-default {
  color: $navbar-default-color;
  border: none;
  font-size: $navbar-default-font-size;
}

.region-box {
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: - $navbar-height;
    left: 0;
    padding: 0 $navbar-padding-horizontal;
  }
}

.navbar-region {
  display: table;
  width: 300px;
  float: left;
  height: $navbar-height;
  font-size: $navbar-region-font-size;
  //padding: $navbar-padding-vertical;
  @media (max-width: $screen-xs-max) {
    width: 100%;
    table-layout: fixed;
  }
  @media (min-width: $screen-sm-min) and (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    left: 75px;
    width: auto;
  }
  @media (min-width: $screen-xs-max) and (max-width: $grid-float-breakpoint-max + 100) {
    width: auto;
  }
  //@include navbar-vertical-align($navbar-height);
  &-item {
    display: table-cell;
    vertical-align: middle;
  }
}

.navbar-user {
  &-name, &-icon {
    display: inline-block;
    vertical-align: middle;
  }
  &-name{
    padding-left: $navbar-padding-horizontal;
  }
}

//.region-box{
//  display: table;
//}
.country {
  &-list {
    display: inline-block;
    vertical-align: middle;
  }
  &-name {
    line-height: 1;
  }
}

.city {
  @media (max-width: $screen-xs-max) {
    float: right;
  }
  &-link {
    display: table;
    @include links($header-font-color, darken($header-font-color, 2%), darken($header-font-color, 15%), darken($header-font-color, 15%), none);
    &-icon, &-name {
      display: table-cell;
      vertical-align: middle;
    }
    &-name {
      @include text-overflow();
      max-width: 150px;
      display: block;
      margin-left: 5px;
    }
  }
}

.item-city {
  padding-left: 15px;
}

// Brand/project name
.navbar-brand {
  @media (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 65px;
  }
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.
.navbar-toggle {
  float: left;
  margin-left: $navbar-padding-horizontal;
  //@include navbar-vertical-align(34px);
  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
}

.navbar-default {
  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-collapse {
      clear: both;
    }
  }
}


.navbar-collapse {
  z-index: $zindex-dropdown;
  @media (min-width: $screen-sm-min) and (max-width: $grid-float-breakpoint-max) {
    //background: $navbar-inverse-bg;
    width: $navbar-collapse-mobile-width;
    position: absolute;
  }
  @media (max-width: $screen-xs-max){
    width: $navbar-collapse-full-width;
    position: absolute;
  }
  @extend .navbar-default;
}

.navbar-collapse {
  @media (max-width: $grid-float-breakpoint-max) {
    background: $navbar-inverse-bg;
    //.navbar-nav > .active > a:hover,
    .navbar-nav > .active > a,
    .navbar-nav >.open > a{
      background-color: transparent;
      &:hover, &:focus{
        background-color: transparent;
      }
    }
  }
}
.navbar-nav {
  .search-desktop, .feedback-desktop {
    @media (max-width: $grid-float-breakpoint-max) {
      display: none;
    }
  }
}

//navbar basket
//.navbar-basket{
//  position: absolute;
//  top: 0;
//  right: 0;
//  margin: 0;
//}
.dropdown-basket {
  &.basket {
    &-desktop {
      @media (max-width: $grid-float-breakpoint) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @media (max-width: $grid-float-breakpoint-max) {
        display: block;
      }
      &.open {
        .basket-list {
          display: block;
        }
      }
    }
  }
}

//.basket-mobile{
//  position: absolute;
//  right: 0;
//  top: 0;
//}

//.basket-list{
//  display: none;
//}