$dropdown-menu-bg-color: #fff;

.dropdown{
  &.full-width{
    position: static;
    .dropdown-menu{
      border-radius: 0;
      border: none;
    }
    .menu-list{
      width: 100%;
      position: absolute;
      max-height: 485px;
      overflow: auto;
      padding: 10px 0 25px;
      min-height: 465px;
      background: $dropdown-menu-bg-color;
    }
  }
}
