$small-font-size: 0.75em;
$badge-custom-font-weight: 400 !default;
$badge-custom-margin: 5px;

$badges: (
        "primary": $brand-primary,
        "default": #999,
        "warning": $brand-warning,
        "danger": $brand-danger,
        "info": $brand-info,
        "success": $brand-success,
) !default;

@each $badge-type, $color in $badges {
  .badge.badge-#{$badge-type} {
    background-color: $color;
    margin-left: $badge-custom-margin;
    border-radius: $border-radius-base;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $badge-custom-font-weight;
    line-height: 1;

    //padding: 0.4em 1.2em;
  }
}

