.dropdown-menu {
  @extend .full-content;
}

.navbar-nav .dropdown-city {
  .dropdown-menu {
    margin-top: 0;
    > li > a {
      padding: 3px 15px;
      &:hover, &:focus {
        background-color: $navbar-inverse-link-hover-bg;
      }
    }
  }
}

.navbar-nav .dropdown-city.open {
  .dropdown-menu {
    background-color: $navbar-inverse-bg;
    @media (max-width: $grid-float-breakpoint-max) {
      position: absolute;
    }
    > li > a {
      &:hover, &:focus {
        background-color: $navbar-inverse-link-hover-bg;
        color: darken($navbar-inverse-link-hover-color, 10%);
      }
    }
  }
}

.navbar-region{
  .navbar-nav{
    margin: 0;
  }
}
.navbar-nav {
  > .dropdown-city {
     > a{
      @media (min-width: $screen-sm-min) and (max-width: $grid-float-breakpoint-max) {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
        line-height: $line-height-computed;
      }
    }
    &.open {
      > a {
        @media (max-width: $screen-xs-max) {
          background-color: $navbar-inverse-link-hover-bg;
          &:hover, &:focus {
            background-color: $navbar-inverse-link-hover-bg;
            color: darken($navbar-inverse-link-hover-color, 10%);
          }
        }
      }
    }
  }
}


.dropdown-darken {
  background-color: $navbar-inverse-bg;
  > li > a {
    color: $navbar-default-link-color;
    &:hover, &:focus {
      //background-color: darken($navbar-inverse-bg, 5%);
      background-color: $navbar-inverse-link-hover-bg;
      color: darken($navbar-inverse-link-hover-color, 10%);
    }
  }
}

//dropdown width
.full-width {
  position: static;
}

.full-content {
  min-width: auto;
}


